.container {
	height: 100%;
}

:global(.app-window-control-button) {
	--hover-color: white;
	--hover-background-color: rgba(255, 255, 255, 0.1);

	width: 40px;
	height: 100%;
	font-size: 100%;
	text-align: center;

	border: none;
	background-color: transparent;
	color: rgb(160, 160, 160);
	
	transition: background-color 0.1s ease-in-out;

	&:hover {
		color: var(--hover-color);
		background-color: var(--hover-background-color);
	}
}

:global(.app-exit-button) {
	--hover-color: white;
	--hover-background-color: rgb(255, 0, 0);
}