.custom-dockview-theme {
	--dv-background-color: transparent;
	--dv-paneview-active-outline-color: dodgerblue;
	--dv-tabs-and-actions-container-font-size: 13px;
	--dv-tabs-and-actions-container-height: 25px;
	--dv-drag-over-background-color: rgba(83, 89, 93, 0.5);
	--dv-drag-over-border-color: white;
	--dv-tabs-container-scrollbar-color: #888;
	--dv-icon-hover-background-color: rgba(90, 93, 94, 0.31);
	--dv-group-view-background-color: transparent;
	--dv-tabs-and-actions-container-background-color: #252526;
	--dv-activegroup-visiblepanel-tab-background-color: #1e1e1e;
	--dv-activegroup-hiddenpanel-tab-background-color: #2d2d2d;
	--dv-inactivegroup-visiblepanel-tab-background-color: #1e1e1e;
	--dv-inactivegroup-hiddenpanel-tab-background-color: #2d2d2d;
	--dv-tab-divider-color: #1e1e1e;
	--dv-activegroup-visiblepanel-tab-color: white;
	--dv-activegroup-hiddenpanel-tab-color: #969696;
	--dv-inactivegroup-visiblepanel-tab-color: #8f8f8f;
	--dv-inactivegroup-hiddenpanel-tab-color: #626262;
	--dv-separator-border: rgb(68, 68, 68);
	--dv-paneview-header-border-color: rgba(204, 204, 204, 0.2);
}

.groupview .tab.active-tab {
	border-bottom: 1px solid rgb(0, 96, 165);
	box-sizing: border-box;
}